
.logo-bg {
  height: 40px;
  width: 100px;
  background: radial-gradient(circle at center, #ffffff, #ff9393);
  background-size: 200%, 200%;
  animation: moveRadial 2s infinite alternate ease-in-out;
}
@keyframes moveRadial {
  0%{
    background-position: 30%, 30%;
  } 100%{
    background-position: 70%, 70%;
  }
}
